body {
  font-family: Helvetica, sans-serif;
  /* background-color: #f4f4f4; */
  background-image: url('./asset/coverJS.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #fff;
}
.app-header {
  width: 100%;
  height: auto;
}
/* .app-content {
  padding: 50px;
} */
